<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{{_sections.header}}}
  <title>Ptak Travel</title>
</head>
<body>
  <header>
    <img src="./img/logo.png" alt="logo" style="margin: 0 auto">
  </header>
  {{{body}}}
  {{{_sections.scripts}}}
  <script>
    console.log(_sections)
  </script>
</body>
</html>